extends /layouts/application.pug


block content
  
  h3.mt-5.ml-1.text-muted #{title}
  
  .row.justify-content-center.px-3.border-top-2
    .col-lg-9.col-9.bg-faded.pt-4
      +formFor(f, { url: urlFor('tasksIndex'), method: 'get'})
        .d-inline-block
          +select(f, 'creator', { items: users, label: 'Creator' })
        .d-inline-block
          +input(f, 'tag', { as: 'text', label: 'Tag' })
        .d-inline-block
          +select(f, 'status', { items: statuses, label: 'Status' })
        .d-inline-block
          +select(f, 'assignedTo', { items: users, label: 'Assigned to' })
        .d-inline-block
          +button(f, 'Search')
    .col-lg-3.col-3.bg-faded.pt-4
      if isSignedIn()
        .form-container
          - const myTasksUrl = urlFor('usersTasks', { id: currentUserId() });
          h5.mt-2.mb-3
            a(href=myTasksUrl) 
              img.link-icon(src='/assets/tasks.png')
              | My tasks
          h5.mt-2.mb-3
            a(href=urlFor('tasksNew')) 
              img.link-icon(src='/assets/new_task.png')
              | Create new Task
    
        
  table.table.table-striped.table-hover.table-sm.mt-4
    thead.thead-inverse
      tr
        th.pl-4 Name
        th Description
        th Status
        th Assigned to
        th Creator
        th Created At
    tbody
      each task in tasks
        - const maxDescriptionLength = 50
        - const maxNameLength = 30
        - const description = task.description.length > maxDescriptionLength ? `${task.description.substr(0, maxDescriptionLength)}...` : task.description
        - const name = task.name.length > maxNameLength ? `${task.name.substr(0, maxNameLength)}...` : task.name
        tr
          td.pl-4
            a.no-color(href=urlFor('tasksShow', task.id))= name
          td= description
          td
            img.link-icon(src=`/assets/${_.find(statuses, { id: task.statusId }).name}.png`) 
          td= task.assignedToId ? _.find(users, { id: task.assignedToId }).name : ''
          td= task.creatorId ? _.find(users, { id: task.creatorId }).name : ''
          td= task.createdShort
