include /mixins/forms.pug

doctype html
html(lang="en")
  head
    title Task Manager
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src='/assets/vendor.js')
    script(src='/assets/application.js')
    //- script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
    //- script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js")
  body
    nav.navbar.navbar-toggleable-md.navbar-light.bg-faded
      button.navbar-toggler.navbar-toggler-right(aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation' data-target='#navbarResponsive' data-toggle='collapse')
        span.navbar-toggler-icon
      .collapse.navbar-collapse#navbarResponsive
        
        ul.navbar-nav.mr-auto
          li.nav-item.mr-4
            a.navbar-brand(href='/' aria-hidden='true') Task Manager
          li.nav-item
            a.nav-link(href=urlFor('usersIndex'))
              img.link-icon(src='/assets/users.gif')
              | Users 
          li.nav-item
            a.nav-link(href=urlFor('tasksIndex'))
              img.link-icon(src='/assets/tasks.png')
              | Tasks 
          li.nav-item
            a.nav-link(href=urlFor('tagsIndex'))
              img.link-icon(src='/assets/tags.png')
              | Tags
        ul.navbar-nav
          if isSignedIn()
            li.nav-item
              a.nav-link(href=urlFor('accountEdit'))
                img.link-icon(src='/assets/user.gif')
                | #{currentUserName()} 
            li.nav-item
              a.nav-link(href=urlFor('sessionDelete') data-method='delete' rel='nofollow')
                img.link-icon(src='/assets/logout.gif')
                | Sign Out 
          else
            li.nav-item
              a.nav-link(href=urlFor('sessionNew'))
                img.link-icon(src='/assets/login.gif')
                | Sign In 
            li.nav-item
              a.nav-link(href=urlFor('usersNew'))
                img.link-icon(src='/assets/signup.gif')
                | Sign Up 
              
    .container
      - const msg = flash.get()
      if msg
        .alert.alert-dismissible.fade.show.my-3(class=`${msg.type}`)= msg.text
          a.close(href="#" data-dismiss="alert" aria-label="close") × 
      block content
        
    .placeholder.my-5 .
          
    footer.footer.fixed-bottom.w-100.bg-faded
      .d-flex.flex-row.justify-content-end.px-5
        .mr-auto.ml-5.p-2 © Nalanpa 2017
        a.nav-link.text-muted.mr-5(href=urlFor('about'))
            img.link-icon(src='/assets/info.png')
            | About
      
        
      
